{{ form_start(form) }}
    {{form_widget(form.name)}}
    {{form_widget(form.city)}}
    {{form_widget(form.postalCode)}}
    {{form_widget(form.address)}}
    {{form_label(form.fileName)}}
    {{form_widget(form.fileName)}}

    <button>Enregistré</button>
{{ form_end(form)}}