{{ form_start(form) }}
    {{form_widget(form.name)}}
    {{form_widget(form.ville)}}
    {{form_widget(form.cp)}}
    {{form_widget(form.addresse)}}
    {{form_label(form.fileName)}}
    {{form_widget(form.fileName)}}

    <button>Enregistré</button>
{{ form_end(form)}}