{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="filter">
            <h2>Filtres (0)</h2>
            <div class="separator"></div>
            {{ include('home/_form_filter.html.twig') }}
        </div>
        <div class="list">
            <h2>Evenements proposer par votre BDE / élèves</h2>
            <div class="separator"></div>
            <div class="activity-content" id="activityContent">
                {% for activity in activities %}
                    {% if activity.state.id != 6 %}
                    <div class="activity canClick" data-activity={{ activity.convertToJson}} data-edit={% if is_granted('edit', activity) %} true {% else %} false {% endif%} data-register={% if is_granted('withdraw', activity) %} true {% else %} false {% endif%} data-lat="{{ activity.lieu.latitude }}" data-long="{{ activity.lieu.longitude }}" data-id="{{ activity.id }}">
                        <span class="flex">
                            <img src={{ asset('thumbnails/' ~ activity.fileName) }} alt="activity thumbnails"/>
                            <span class="title-description">
                                <p class="title"><strong>{{ activity.name }}</strong> ({{ activity.startDate|date('Y-m-d') }})</p>
                                <p class="description">{{ activity.description }}</p>
                            </span>
                        </span>
                        <span class="information">
                            <span class="information_text">
                                <p>Date limite d'inscription : {{ activity.registrationDateLimit|date('Y-m-d') }}</p>
                                <p>Nombre de places : {{ activity.nbLimitParticipants - activity.registered|length }}</p>
                            </span>
                            <span class="buttons">
                                {% if is_granted('edit', activity) %}
                                    <a href="{{ path("activity_update", { 'id': activity.id }) }}">
                                        <button class="button modify"><span>Modifier</span></button>
                                    </a>
                                    <a href="{{ path("app_cancel_activity", {'id': activity.id}) }}">
                                        <button class="button cancel"><span>Annuler</span></button>
                                    </a>
                                {% endif %}
                                {% if is_granted('withdraw', activity) %}
                                    <a href="{{ path("activity_remove_inscrit", { 'id': activity .id}) }}">
                                        <button class="button cancel"><span>Se désister</span></button>
                                    </a>
                                {% endif %}
                                {% if is_granted('register', activity) %}
                                    <a href="{{ path("activity_add_inscrit", { 'id': activity.id }) }}">
                                        <button class="button"><span>Rejoindre</span></button>
                                    </a>
                                {% endif %}
                                {% if activity not in app.user.activities and activity.state.code == "ACT_CR" %}
                                    <button class="button" disable>Créée</button>
                                {% endif %}
                                {% if activity not in app.user.activities and activity.state.code == "ACT_EN_C" %}
                                    <button class="button" disable>En cours</button>
                                {% endif %}
                                {% if activity not in app.user.activities and activity.state.code == "ACT_INS_F" %}
                                    <button class="button close" disable>Fermée</button>
                                {% endif %}
                                {% if activity not in app.user.activities and activity.state.code == "ACT_TER" %}
                                    <button class="button cancel" disable>Terminée</button>
                                {% endif %}
                                {% if activity not in app.user.activities and activity.state.code == "ACT_ANN" %}
                                    <button class="button cancel" disable>Annulée</button>
                                {% endif %}
                            </span>
                        </span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="activity-map">
            <div id="activity-details"></div>
            <div class="map">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script>
        (g => {
            var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
                m = document, b = window;
            b = b[c] || (b[c] = {});
            var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                u = () => h || (h = new Promise(async (f, n) => {
                    await (a = m.createElement("script"));
                    e.set("libraries", [...r] + "");
                    for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                    e.set("callback", c + ".maps." + q);
                    a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                    d[q] = f;
                    a.onerror = () => h = n(Error(p + " could not load."));
                    a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                    m.head.append(a)
                }));
            d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
        })({
            key: "AIzaSyBMO3LVl_v7xhApZEBfLfG0N6oU5yQUHjA",
            v: "weekly",
        });
    </script>
    <script src="/scripts/home.js"></script>
    <script src="/scripts/activity.js"></script>
{% endblock %}