{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/form.css">
{% endblock %}

{% block body %}
    <div class="content activity">
        <div class="overlay"></div>

        <div class="form-container">
            <h2>Creer une sortie !</h2>
            <span class="description">
                <p>Envie de sortir avec des personnes de ton entourages ?</p>
                <p>Alors propose une sortie a ton campus !</p>
            </span>

            {{ form_start(form) }}
                {{form_widget(form.name)}}
                {{form_widget(form.campus)}}
                {{form_widget(form.lieu)}}
                {{form_widget(form.description)}}
                <span class="same_line">
                    <span>
                        {{form_label(form.dateDebut)}}
                        {{form_widget(form.dateDebut)}}
                    </span>
                    <span>
                        {{form_label(form.dateFinalInscription)}}
                        {{form_widget(form.dateFinalInscription)}}
                    </span>
                </span>
                {{form_widget(form.nbLimitParticipants)}}
                {{form_widget(form.duree)}}
                {{form_label(form.pictureFileName)}}
                {{form_widget(form.pictureFileName)}}

                <button>Enregistré</button>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}