{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div style="text-align: center">
    {{ user.pseudo }}
    {{ user.email }}
    <img src="{{ asset('profilePictures/'~ user.pictureFileName) }}" alt="ProfilePicture">
    {{ user.getPhoneNumber }}
    {{ user.campus.name }}
    {# Here is display all the activities user is relation with #}
    {% for activity in user.activities %}
        {{ activity.name }}
    {% endfor %}
</div>

{% endblock %}
