{% extends 'base.html.twig' %}

{% block title %}Profile personnel{% endblock %}

{% block body %}
<div style="text-align: center">
    {{ app.user.pseudo }}
    {{ app.user.email }}
    <img src="{{ asset('profilePictures/'~ app.user.pictureFileName) }}" height="200px" alt="ProfilePicture">
    {{ app.user.getPhoneNumber }}
    {{ app.user.campus.name }}
    <a href="{{ path('app_profile_edit') }}"><button>Modifier des informations</button></a>
    {# Here is display all the activities user is relation with #}
    {% for activity in app.user.activities %}
        {{ activity.name }}
    {% endfor %}
</div>

{% endblock %}
