{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/table.css">
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="content">
        <span class="flex-center">
        <h2>Listes des utilisateurs</h2>
        <div class="separator"></div>
        </span>
        <main>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Profil</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Roles</th>
                    <th>Téléphone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <a href="{{ path('app_profile_view', {'id' : user.id}) }}">
                        {% if user.isActive != true %}
                        <tr style="background-color: #ded8d7">
                            {% else %}
                        <tr>
                            {% endif %}
                            <td data-label="ID">{{ user.id }}</td>
                            <td data-label="Profil" class="profil"><img src="/profilePictures/{{ user.fileName }}"
                                                                        alt=""/>{{ user.pseudo }}</td>
                            <td data-label="Prénom" class="textcenter">{{ user.firstName }}</td>
                            <td data-label="Nom">{{ user.lastName }}</td>
                            <td data-label="Roles">{{ user.roles|join(", ") }}</td>
                            <td data-label="Téléphone">{{ user.phoneNumber }}</td>
                    </a>
                    <td data-label="Action"><a href="{{ path('app_user_delete', {'id' : user.id}) }}" class="action"><i
                                    class="hover-fa fa-solid fa-trash"></i></a><a
                                href="{{ path('app_user_desactivate', {'id' : user.id}) }}"><i
                                    class="hover-fa fa-solid fa-user-xmark"></i></a>
                        <a
                                href="{{ path('app_profile_view', {'id' : user.id}) }}"><i
                                    class="fa-solid fa-user"></i></a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
        <div class="button-container">
            <a class="action-click" href="{{ path('app_user_create') }}">
                <button class="action-button"><i class="fa-solid fa-user-plus"></i> Ajouter un utilisateur</button>
            </a>
            <a class="action-click" href="{{ asset('csv/sample-data.csv') }}">
                <button class="action-button"><i class="fa-solid fa-file-arrow-down"></i> Télécharger la template CSV
                </button>
            </a>
            <a class="action-click" href="#">
                <button class="action-button"><i class="fa-solid fa-file-arrow-down"></i>
                    {{ form_start(form,{'attr': {'id': 'fileName'}}) }}

                    {{ form_label(form.fileName) }}
                    <div style="display: none">
                        {{ form_widget(form.fileName) }}
                    </div>
                    {{ form_end(form) }}
                </button>
            </a>
            <div class="file_label">

            </div>

        </div>

    </div>
    <script src="/scripts/form.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the file input element
            var fileInput = document.querySelector('#fileName input[type="file"]');

            if (fileInput) {
                fileInput.addEventListener('change', function () {
                    // Submit the form when a file is selected
                    document.getElementById('fileName').submit();
                });
            }
        });
    </script>

{% endblock %}  
