{% extends 'base.html.twig' %}

{% block title %}Modifier son profil!{% endblock %}

{% block body %}
    <div style="text-align: center">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.pseudo) }}
            </div>
            <div class="col" id="some-custom-id">
                {{ form_row(form.phone_number) }}
            </div>
        </div>
        <button type="submit">Valider</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
