{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div style="text-align: center">
    {{ app.user.pseudo }}
    {{ app.user.email }}
    <img src="{{ asset('profilePictures/'~ app.user.pictureFileName) }}" alt="ProfilePicture">
    {{ app.user.getPhoneNumber }}
    {{ app.user.campus.name }}
    {# Here is display all the activities user is relation with #}
    {% for activity in app.user.activities %}
        {{ activity.name }}
    {% endfor %}
</div>

{% endblock %}
