{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/table.css">
{% endblock %}

{% block body %}
     <div class="content">
        <span class="flex-center">
        <h2>Listes des utilisateurs</h2>
        <div class="separator"></div>
        </span>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profil</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Roles</th>
                        <th>Téléphone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                        <td data-label="ID">{{user.id}}</td>
                        <td data-label="Profil" class="profil"><img src="/profilePictures/{{user.fileName}}" alt="" />{{user.pseudo}}</td>
                        <td data-label="Prénom" class="textcenter">{{user.firstName}}</td>
                        <td data-label="Nom">{{user.lastName}}</td>
                        <td data-label="Roles">{{user.roles|join(", ")}}</td>
                        <td data-label="Téléphone">{{user.phoneNumber}}</td>
                        <td data-label="Action"><a href="{{ path('app_user_delete', {'id' : user.id}) }}" target="_blank" class="action"><i class="fa-solid fa-trash"></i></a><a href="{{ path('app_user_desactivate', {'id' : user.id}) }}" target="_blank"><i class="fa-solid fa-user-xmark"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>

{% endblock %}
