{% include 'base_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/profil.css">
{% endblock %}

{% block body %}
<div class="myContent">
    <div class="box">
        <h2>Informations de {{user.pseudo}}</h2>
        <div class="separator"></div>
        <img src="{{ asset('profilePictures/'~ user.fileName) }}" class="profilPicture" alt="ProfilePicture">
        <p class="text title">{{user.pseudo}}</p>
        <p class="text email">{{user.email}}</p>
        <div class="more-information">
            <h2>Plus d’information</h2>
            <div class="separator"></div>
            <div class="myInformation">
                <p><span class="information-title">Téléphone : </span>{{user.phoneNumber}}</p>
                <p><span class="information-title">Campus : </span>{{user.campus.name}}</p>
            </div>
            <div class="myInformation">
                <p><span class="information-title">Nom : </span>{{user.lastName}}</p>
                <p><span class="information-title">Prénom : </span>{{user.firstName}}</p>
            </div>
        </div>  
    </div>
    <div class="box right">
        <h2>Activitées proposé par {{user.pseudo}}</h2>
        <div class="separator"></div>
        <div class="activity-content" id="activityContent">
            {% for activity in activities %}
                {% if activity.state.id != 6 %}
                <div class="activity" data-lat="{{ activity.lieu.latitude }}" data-long="{{ activity.lieu.longitude }}" data-id="{{ activity.id }}">
                    <span class="flex">
                        <img src={{ asset('thumbnails/' ~ activity.fileName) }} alt="activity thumbnails"/>
                        <span class="title-description">
                            <p class="title">{{ activity.name }}</p>
                            <p class="description">{{ activity.description }}</p>
                        </span>
                    </span>
                    <span class="information">
                        <span class="information_text">
                            <p>Date limite d'inscription : {{ activity.registrationDateLimit|date('Y-m-d') }}</p>
                            <p>Nombre de places : {{ activity.nbLimitParticipants - activity.registered|length }}</p>
                        </span>
                        <span class="buttons">
                            {% if activity not in user.activities and activity.state.code == "ACT_EN_C" %}
                                <button class="button cancel" disable>En cour</button>
                            {% endif %}
                            {% if activity not in user.activities and activity.state.code == "ACT_INS_F" %}
                                <button class="button close" disable>Fermé</button>
                            {% endif %}
                            {% if activity not in user.activities and activity.state.code == "ACT_TER" %}
                                <button class="button cancel" disable>Terminé</button>
                            {% endif %}
                            {% if activity not in user.activities and activity.state.code == "ACT_ANN" %}
                                <button class="button cancel" disable>Annulé</button>
                            {% endif %}
                        </span>
                    </span>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
